<div class="form-group p-1">
    <div class="col-sm-12">
        <h5 class="content_header">
            Time Breakdown
        </h5>
    </div>
</div>
<div class="card mb-3">
    <div class="card-header">
        <h5>Create Time Breakdown</h5>
    </div>
    <div class="card-body">
        <form>
            <table class="table table-hover mt-3">
                <thead>
                    <tr>
                        <th scope="col" style="width: 50px;">Sl.No</th>
                        <th scope="col">Well Bore No.</th>
                        <th scope="col">Phase</th>
                        <th scope="col" style="width: 90px;">Prev. Year Dur.</th>
                        <th scope="col" style="width: 120px;">Perfomance Change</th>
                        <th>Remarks</th>
                        <th style="width: 120px;">Add/Remove Scope</th>
                        <th>Remarks</th>
                        <th style="width: 90px;">Time/Days</th>
                        <th scope="col" style="width: 50px;">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td ><input type="text" class="form-control" placeholder="Sl.No"></td>
                        <td><input type="text" class="form-control" placeholder="Well Bore No."></td>
                        <td><input type="text" class="form-control" placeholder="Phase"></td>
                        <td><input type="text" class="form-control" placeholder="Prev. Year Dur."></td>
                        <td><input type="text" class="form-control" placeholder="Perfomance Change"></td>
                        <td><input type="text" class="form-control" placeholder="Remarks"></td>
                        <td><input type="text" class="form-control" placeholder="Add/Remove Scope"></td>
                        <td><input type="text" class="form-control" placeholder="Remarks"></td>
                        <td><input type="text" class="form-control" placeholder="Time/Days"></td>
                        <td>
                            <button class="btn btn-danger btn-sm me-1">
                                <i class="fa-solid fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>