<div class="form-group p-1">
    <div class="col-sm-12">
        <h5 class="content_header">
            General Information
        </h5>
    </div>
</div>

<div class="card mb-3">
    <div class="card-header">
        <h5>Save General Information</h5>
    </div>
    <div class="card-body">
        <form>
            <div class="row align-items-end">
                <div class="col-md-2 mb-3">
                    <label for="inputEmail" class="form-label">Well Type Category</label>
                    <input type="text" class="form-control" id="inWell" placeholder="Enter Well Type">
                </div>
                <div class="col-md-2 mb-3">
                    <label class="form-label">Well Type Code</label>
                    <input type="text" class="form-control" id="inCatelogue" placeholder="Catalogue Year">
                </div>
                <div class="col-md-2 mb-3">
                    <label class="form-label">WCC Year</label>
                    <input type="text" class="form-control" id="inCluster" placeholder="Cluster">
                </div>
                <div class="col-md-2 mb-3">
                    <label class="form-label">Well Type Description</label>
                    <input type="text" class="form-control" id="inStatus" placeholder="Status">
                </div>
                <div class="col-md-2 mb-3">
                    <label class="form-label">Hole Type</label>
                    <input type="text" class="form-control" id="inStatus" placeholder="Action Party">
                </div>
                <div class="col-md-2 mb-3">
                    <label class="form-label">Well Complexity Index</label>
                    <input type="text" class="form-control" id="inStatus" placeholder="Action Party">
                </div>
            </div>
            <div class="row align-items-end">
                <div class="col-md-2 mb-3">
                    <label for="inputEmail" class="form-label">Cluster</label>
                    <input type="text" class="form-control" id="inWell" placeholder="Enter Well Type">
                </div>
                <div class="col-md-2 mb-3">
                    <label class="form-label">Field</label>
                    <input type="text" class="form-control" id="inCatelogue" placeholder="Catalogue Year">
                </div>
                <div class="col-md-2 mb-3">
                    <label class="form-label">Well Function</label>
                    <input type="text" class="form-control" id="inCluster" placeholder="Cluster">
                </div>
                <div class="col-md-2 mb-3">
                    <label class="form-label">Lift Type</label>
                    <input type="text" class="form-control" id="inStatus" placeholder="Status">
                </div>
                <div class="col-md-2 mb-3">
                    <label class="form-label">Completion Type</label>
                    <input type="text" class="form-control" id="inStatus" placeholder="Action Party">
                </div>
                <div class="col-md-2 mb-3">
                    <label class="form-label">Target Reservoir</label>
                    <input type="text" class="form-control" id="inStatus" placeholder="Action Party">
                </div>
            </div>
            <div class="row align-items-end">
                <div class="col-md-2 mb-3">
                    <label for="inputEmail" class="form-label">Well Trajectory</label>
                    <input type="text" class="form-control" id="inWell" placeholder="Enter Well Type">
                </div>
                <div class="col-md-2 mb-3">
                    <label class="form-label">Max CITP (KPa)</label>
                    <input type="text" class="form-control" id="inCatelogue" placeholder="Catalogue Year">
                </div>
                <div class="col-md-2 mb-3">
                    <label class="form-label">Well Rating (KPa)</label>
                    <input type="text" class="form-control" id="inCluster" placeholder="Cluster">
                </div>
                <div class="col-md-2 mb-3">
                    <label class="form-label">Target Shape</label>
                    <input type="text" class="form-control" id="inStatus" placeholder="Status">
                </div>
                <div class="col-md-2 mb-3">
                    <label class="form-label">Vertical Tolerance (m)</label>
                    <input type="text" class="form-control" id="inStatus" placeholder="Action Party">
                </div>
                <div class="col-md-2 mb-3">
                    <label class="form-label">Lateral Tolerance (m)</label>
                    <input type="text" class="form-control" id="inStatus" placeholder="Action Party">
                </div>
            </div>
            <div class="row align-items-end">
                <div class="col-md-2 mb-3">
                    <label for="inputEmail" class="form-label">Target Depth(mTVD)</label>
                    <input type="text" class="form-control" id="inWell" placeholder="Enter Well Type">
                </div>
                <div class="col-md-2 mb-3">
                    <label class="form-label">Uncertainty (m)</label>
                    <input type="text" class="form-control" id="inCatelogue" placeholder="Catalogue Year">
                </div>
                <div class="col-md-2 mb-3">
                    <label class="form-label">mTVD Depth Range (Min) (m)</label>
                    <input type="text" class="form-control" id="inCluster" placeholder="Cluster">
                </div>
                <div class="col-md-2 mb-3">
                    <label class="form-label">mTVD Depth Range (Min) (m)</label>
                    <input type="text" class="form-control" id="inStatus" placeholder="Status">
                </div>
            </div>
            <div class="row align-items-end">
                <div class="col-md-2 mb-3">
                    <label for="inputEmail" class="form-label">Target Depth(mMD)</label>
                    <input type="text" class="form-control" id="inWell" placeholder="Enter Well Type">
                </div>
                <div class="col-md-2 mb-3">
                    <label class="form-label">Uncertainty (m)</label>
                    <input type="text" class="form-control" id="inCatelogue" placeholder="Catalogue Year">
                </div>
                <div class="col-md-2 mb-3">
                    <label class="form-label">mMD Depth Range (Min) (m)</label>
                    <input type="text" class="form-control" id="inCluster" placeholder="Cluster">
                </div>
                <div class="col-md-2 mb-3">
                    <label class="form-label">mMD Depth Range (Min) (m)</label>
                    <input type="text" class="form-control" id="inStatus" placeholder="Status">
                </div>
            </div>
            <div class="row align-items-end">
                <div class="col-md-4 mb-3">
                    <label class="form-label">WFR Key</label>
                    <input type="text" class="form-control" id="inStatus" placeholder="Action Party">
                </div>
                <div class="col-md-2 mb-3">
                    <label class="form-label">WFR Year</label>
                    <input type="text" class="form-control" id="inStatus" placeholder="Action Party">
                </div>
                <div class="col-md-6 mb-3">
                    <label class="form-label">FDP Reference</label>
                    <input type="text" class="form-control" id="inStatus" placeholder="Action Party">
                </div>
            </div>
            
            <div class="row align-items-end">
                <div class="col-md-2 mb-3 d-flex justify-content-start">
                    <button type="button" class="btn btn-success me-2">Save</button>
                    <button type="button" class="btn btn-warning">Clear</button>
                </div>
            </div>
        </form>
    </div>
</div>

