.footer {
  background-color: #e0e0e0;
  text-align: center;
  padding: 1px; /* Increased padding for better spacing */
  position: absolute; /* Change from fixed to absolute */
  bottom: 0; /* Position at the bottom of the content */
  width: 100%; /* Full width */
}